# https://editorconfig.org

root = true

[*.ts]
charset = utf-8
indent_style = space
indent_size = 2
spaces_around_brackets = inside
trim_trailing_whitespace = true
quote_type = single

[*.md]
trim_trailing_whitespace = true